@charset "utf-8";

.container{
    width: 800px;
    margin: 0 auto;
    display: grid;
    border:  1px solid red;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "main main aside"
    ". footer footer";
    row-gap: 10px;

}

.container .grid_item{
    border: 1px solid blue;
}

.container .grid_item:nth-child(1){
    grid-area: header;
    width: 100%;
}
.container .grid_item:nth-child(2){
    grid-area: main;
}
.container .grid_item:nth-child(3){
    grid-area: aside;
}
.container .grid_item:nth-child(4){
    grid-area: footer;
}
